<!doctype html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ORGANICO | admin</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../css/head_footer.css" rel="stylesheet" th:href="@{/css/head_footer.css}">
    <link href="../css/admin.css" rel="stylesheet" th:href="@{/css/admin.css}">
    <link href="../img/favicon2.ico" rel="icon" type="image/x-icon">
    <script src="../../static/js/script.js" th:src="@{/js/script.js}"></script>
</head>
<body>
<div id="wrap">
    <!-- START : header -->
    <div id="header">
        <div class="gnb row">
            <div class="col">
                <h1 class="d-inline"><a href="/admin/items"><img alt="organico logo" src="../img/logo.png"
                                                                 width="150px"></a></h1>
                <span class="ms-3">상품 관리</span>
            </div>
            <button class="btn btn-outline-dark col-3 btn_color_outline" onclick="location.href='/'">홈페이지로 돌아가기</button>
        </div>
    </div>
    <!-- END : header -->

    <!-- START : container -->
    <div id="container">
        <table class="table table-hover">
            <thead>
            <th>ID</th>
            <th>상품명</th>
            <th>원산지</th>
            <th>가격</th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="item: ${items}">
                <td th:text="${item.id}">id</td>
                <td th:text="${item.name}">상품명</td>
                <td th:text="${item.origin}">원산지</td>
                <td th:text="${item.price}">가격</td>
                <td class="btn_size">
                    <button class="btn btn-outline-warning"
                            th:onclick="|location.href='@{/admin/items/{id}(id=${item.id})}'|">상세정보
                    </button>
                </td>
                <td class="btn_size">
                    <button class="btn btn-outline-danger"
                            th:onclick="|location.href='@{/admin/items/{id}/delete(id=${item.id})}'|">삭제
                    </button>
                </td>
            </tr>
            </tbody>
            <div>
                <button class="item_add" onclick="location.href='/admin/add'" type="button"></button>
            </div>
        </table>
    </div>
    <!-- END : container -->
</div>
</body>