<!doctype html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ORGANICO | admin</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../css/admin.css" rel="stylesheet" th:href="@{/css/items.css}">
    <link href="../img/favicon2.ico" rel="icon" type="image/x-icon">
    <script src="../../static/js/script.js" th:src="@{/js/script.js}"></script>
</head>

<body>
<div id="wrap">
    <!-- START : header -->
    <div id="header">
        <div class="gnb row">
            <div class="col">
                <h1 class="d-inline"><a href=""><img alt="organico logo" src="../img/logo.png" width="150px"></a></h1>
                <span class="ms-3">새 상품 등록</span>
            </div>
            <button class="btn btn-outline-dark col-3">홈페이지로 돌아가기</button>
        </div>
    </div>
    <!-- END : header -->
    <!-- START : container -->
    <div id="container">
        <form class="form-control" enctype="multipart/form-data" method="post">
            <div class="row">
                <img alt="" class="col-5" src="https://via.placeholder.com/550x700">
            </div>
            <div class="row m-2">
                <label class="col-2" for="name">상품명</label>
                <input class="form-control col" id="name" name="name" type="text">
            </div>
            <div class="row m-2">
                <label class="col-2" for="price">가격</label>
                <input class="form-control col" id="price" name="price" type="text">
            </div>
            <div class="row m-2">
                <label class="col-2" for="origin">원산지</label>
                <input class="form-control col" id="origin" name="origin" type="text">
            </div>
            <div class="row m-2">
                <label class="col-2" for="ingredient">성분</label>
                <input class="form-control col" id="ingredient" name="ingredient" type="text">
            </div>
            <div class="row m-2">
                <label class="col-2" for="image">이미지</label>
                <input class="form-control col" id="image" name="image" type="file">
            </div>
            <input class="btn btn-lg btn-outline-dark col-6" type="submit" value="상품 등록">
        </form>
    </div>
    <!-- END : container -->
</div>
</body>